.ant-row.ant-form-item {
    text-align: left;
}

.site-page-header-ghost-wrapper {
    white-space: pre-wrap;

    p {
        margin-bottom: 15px;
    }
}

.blog-form .ant-form-item {
    margin-bottom: 12px;
}

.blog-form .ant-input-number {
    width: 60% !important;
}

.site-page-header-ghost-wrapper {
    padding: 24px;
}